# 파이썬 자료형 연습문제

### 1. 다음에 나타난 파이썬 실행 결과

In [1]:
7%10

7

### 2. 다음에 나타난 파이썬 실행 결과

In [2]:
a = 3
b = 20
c = b//a
print(c)

6

### 3. 다음에 나타난 파이썬 실행

In [4]:
c = 10//4
d = 2**4
print(c+d)

18

### 4. 다음에 나타난 파이썬 실행

In [5]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
a[3:12]

' 민족중흥의 역사'

### 5. 다음에 나타난 파이썬 실행

In [6]:
date = '20191025'
year = date[0:4]
month = date[4:6]
day = date[6:]
date2 = year + '-'+month+'-'+day
print(date2)

2019-10-25

### 6. 아래의 문자열에서 '짝' 만 출력하시오.

In [8]:
str = '홀짝홀짝홀짝홀짝'
str.replace("홀", "짝")

'짝짝짝짝짝짝짝짝'

### 7. 다음에 나타난 파이썬 실행 결과는?

In [10]:
msg = "나는 행복합니다~~~"
print(len(msg))

11

### 8. 다음의 문자열을 거꾸로 뒤집어 출력하시오.

In [44]:
str = "PYTHON"
str_l = list(str)
str_l.reverse()
str = "".join(str_l)
str
#a = 'python'
#a[::-1]

'NOHTYP'

### 9. 다음에 나타난 파이썬 실행 결과는?

In [17]:
a = input('첫 번째 정수를 입력하세요: ')

첫 번째 정수를 입력하세요: 22

In [18]:
b = input('두 번째 정수를 입력하세요: ')

두 번째 정수를 입력하세요: 33

In [20]:
c = a + b
print(c)

2233

### 10. 다음에 나타난 파이썬 실행 결과는?

In [21]:
a = input('첫 번째 정수를 입력하세요: ')

첫 번째 정수를 입력하세요: 55

In [22]:
b = input('두 번째 정수를 입력하세요: ')

두 번째 정수를 입력하세요: 60

In [23]:
c = int(a) + int(b)
print(c)

115

### 11. 다음과 같이 변수 str1과 str2에 문자열 값이 주어져 있다.
#### str1 = 'python'
#### str2 = 'R'
### 변수에 문자열 더하기와 곱하기를 사용하여 아래와 같이 출력하시오

In [28]:
str1 = 'python'
str2 = 'R'
str3 = str1+' '+str2+' '
str3*4

'python R python R python R python R '

### 12. 아래의 전화번호에서 하이푼('-')을 제거하고 모두 붙여서 출력하시오.

In [35]:
phone_number = "010-1111-5555"
phone_number.replace("-", "")

'01011115555'

### 13. 다음의 문자열 포맷팅 기호 중 실수형 숫자를 소수점 3째 자리까지 출력하는데 사용되는 것은?

### %.3f

### 14. 아래 코드의 실행 결과는?

In [37]:
Lang = 'english'
Lang[0] = 'E'
print(Lang)

# 문자열 자료형은 수정 불가능하기 때문에 에러 발생

TypeError: 'str' object does not support item assignment

### 15. 다음에 나타난 파이썬 실행 결과는?

In [38]:
a = [1,2,3]
b = [4,5,6,7]
c = a+b
print(len(c))

7

### 16. 다음 코드의 결과값은 무엇인가?

In [42]:
company_0 = ['삼성전자', '현대', 'SK']
company_1 = company_0[:2]
company_1[0] = '포스코'
print(company_0)
print(company_1)

['삼성전자', '현대', 'SK']
['포스코', '현대']

### 17. movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩 되어있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하시오.

In [54]:
movie_rank = ['닥터 스트레인지', '스플릿','럭키','스파이더맨']
movie_rank.insert(1, "슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '스파이더맨']

### 18. 다음의 movie_rank 리스트에서 "럭키"와 "스파이더맨"을 삭제하시오.

In [56]:
movie_rank.pop()
movie_rank.pop()
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿']

### 19. 다음의 movie_rank 리스트에서 index()함수 실행 결과는?

In [57]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '스파이더맨']
movie_rank.index('럭키')

2

### 20. 튜플에 대한 설명으로 바르지 않은 것은?
#### 4번  튜플에서는 원소의 값을 변경할 수 있다.

### 21. 다음과 같이 변수 a에는 1,2,3,4 데이터가 바인딩되어 있을 때 t의 출력 값의 자료형은 무엇인가?

In [2]:
a = 1,2,3,4
type(a)

tuple

### 22. 다음의 실행결과는 무엇인가?

In [3]:
a = (2)
a*5

10

### 23. 다음의 실행결과는 무엇인가?

In [4]:
a = (2,)
a*5

(2, 2, 2, 2, 2)

### 24. 다음에 나타난 파이썬 실행 결과는?

In [9]:
menu1 = ('짜장면', '짬뽕','볶음밥')
menu2 = ('파스타', '피자')
menu = menu1 + menu2
print(len(menu))

5

### 25. 실행결과를 만족하는 (1)과 (2)는 ?

In [10]:
admin = ('rubato', '12345', 'rubato@naver.com')
print('-관리자정보')
print('아이디 : '+admin[0])
print('비밀번호 : '+admin[1])
print('이메일 : '+admin[2])

-관리자정보
아이디 : rubato
비밀번호 : 12345
이메일 : rubato@naver.com

### 26. 다음의 아이스크림 이름과 희망 가격을 icecream_price라는 이름의 딕셔너리로 구성하시오.

In [25]:
icecream_price = {'월드콘' : 2000, '붕어사만코' : 1500, '메로나':1000}
icecream_price

{'월드콘': 2000, '붕어사만코': 1500, '메로나': 1000}

### 27. 문제 26번에서 만든 딕셔너리에 아래의 아이스크림 가격 정보를 추가하시오.

In [26]:
icecream_price['죠스바']=1200
icecream_price['요맘때']=2200
icecream_price

{'월드콘': 2000, '붕어사만코': 1500, '메로나': 1000, '죠스바': 1200, '요맘때': 2200}

### 28. 문제 27번에서 생성된 딕셔너리에서 '붕어사만코'를 삭제하시오.

In [27]:
del icecream_price['붕어사만코']
icecream_price

{'월드콘': 2000, '메로나': 1000, '죠스바': 1200, '요맘때': 2200}

### 29. 문제 28번의 최종 딕셔너리 결과에서 다음 프로그램의 실행 결과는?

In [28]:
'메로나'in icecream_price

True

In [29]:
'붕어사만코'in icecream_price

False

### 30. 다음 소스 코드를 완성하여 평균점수가 출력되게 만드시오.

In [35]:
maria = {'korean':94, 'english':91, 'mathematics':89, 'science':83}
average_a = maria['korean']+maria['english']+maria['mathematics']+maria['science']
average = average_a / 4
print(average)

89.25

### 31. 다음에 나타난 파이썬 실행 결과는?

In [36]:
s1 = set(['a','b', 'c', 'd', 'e'])
s2 = set(['c', 'd', 'e', 'f', 'g'])
s1 - s2

{'a', 'b'}

### 32. 다음의 프로그램 실행 결과는?

In [37]:
str = set("Hello Python")
str

{' ', 'H', 'P', 'e', 'h', 'l', 'n', 'o', 't', 'y'}