# 02-2 문자열 자료형

## 1. 문자열 포매팅

### (1) %문자열 포맷코드

#### 1. 숫자 바로 대입

In [31]:
"I eat %d apples." % 3

'I eat 3 apples.'

#### 2. 문자열 바로 대입

In [32]:
"I eat %s apples." % "five"

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입

In [33]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [34]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

%s 포맷코드는 어떤 형태의 값이든 변환해 넣을 수 있다.

In [35]:
"I have %s apples" % 3

'I have 3 apples'

In [36]:
"rate is %s" % 3.234

'rate is 3.234'

포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다.

In [37]:
"Error is %d%%." % 98

'Error is 98%.'

### 포맷코드와 숫자 함께 사용하기

#### 1. 정렬과 공백

In [38]:
"%10s" % "hi"

'        hi'

In [39]:
"%-10sjane" % 'hi'

'hi        jane'

#### 2. 소수점 표현하기

In [40]:
"%0.4f" % 3.42134234

'3.4213'

In [41]:
"%10.4f" % 3.42134234

'    3.4213'

## (2) format 함수를 사용한 포매팅

#### 1. 숫자 바로 대입하기

In [42]:
"I eat {0} apples".format(3)

'I eat 3 apples'

#### 2. 문자열 바로 대입하기

In [43]:
"I eat {0} apples".format("five")

'I eat five apples'

#### 3. 숫자 값을 가진 변수로 대입하기

In [44]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

#### 4. 2개 이상의 값 넣기

In [45]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days." .format(number, day)

'I ate 10 apples. so I was sick for three days.'

#### 5. 이름으로 넣기

In [46]:
"I ate {number} apples. so I was sick for {day}days." .format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3days.'

#### 6. 인덱스와 이름을 혼용해서 넣기

In [47]:
"I ate {0} apples. so I was sick for {day}days." .format(10, day = 3)

'I ate 10 apples. so I was sick for 3days.'

#### 7. 왼쪽 정렬

In [48]:
"{0:<10}".format("hi")

'hi        '

#### 8. 오른쪽 정렬

In [49]:
"{0:>10}".format("hi")

'        hi'

#### 9. 가운데 정렬

In [50]:
"{0:^10}".format("hi")

'    hi    '

#### 10. 공백 채우기

In [51]:
"{0:=^10}".format("hi")

'====hi===='

In [52]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

#### 11. 소수점 표현하기

In [53]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [54]:
"{0:10.4f}".format(y)

'    3.4213'

#### 12. { 또는 } 문자 표현하기

In [55]:
"{{ and }}".format()

'{ and }'

## (3) f 문자열 포매팅

In [29]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [30]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

#### 딕셔너리 f 문자열 포매팅

In [3]:
d = {'name' : '홍길동', 'age' : 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

#### 정렬

In [5]:
f'{"hi":<10}'

'hi        '

In [6]:
f'{"hi":>10}'

'        hi'

In [7]:
f'{"hi":^10}'

'    hi    '

#### 공백 채우기

In [8]:
f'{"hi":=^10}'

'====hi===='

In [10]:
f'{"hi":!<10}'

'hi!!!!!!!!'

In [11]:
f'{"hi":!>10}'

'!!!!!!!!hi'

P. 112 Q3

#### 소수점 표현

In [14]:
y = 3.42134234
f'{y:0.4f}'

'3.4213'

In [15]:
f'{y:10.4f}'

'    3.4213'

#### p.67 나 혼자 코딩!

format 함수 또는 f 문자열 포매팅을 사용해 '!!!python!!!' 문자열을 출력해 보자.

In [17]:
"{0:!^12}".format('python')

'!!!python!!!'

In [18]:
f'{"python":!^12}'

'!!!python!!!'

## 2. 문자열 관련 함수

#### 1. 문자 개수 세기(count)

In [19]:
a = "hobby"
a.count('b')

2

#### 2. 위치 알려주기 1(find)

In [22]:
a = 'Python is the best choice'
a.find('b')      # 0부터 셈

14

In [24]:
a.find('k')     # 존재하지 않으면 -1

-1

#### 2-1 위치 알려주기 2(index)

In [25]:
a = "Life is too short"
a.index('t')

8

#### 3. 문자열 삽입(join)

In [26]:
",".join('abcd')

'a,b,c,d'

In [27]:
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

#### 4. 소문자를 대문자로 바꾸기(upper)

In [28]:
a = "hi"
a.upper()

'HI'

#### 5. 대문자를 소문자로 바꾸기(lower)

In [29]:
a = "HI"
a.lower()

'hi'

#### 6. 왼쪽 공백 지우기(lstrip)

In [30]:
a = " hi "
a.lstrip()

'hi '

#### 7. 오른쪽 공백 지우기(rstrip)

In [32]:
a = " hi "
a.rstrip()

' hi'

#### 8. 양쪽 공백 지우기(strip)

In [1]:
a = " hi "
a.strip()

'hi'

#### 9. 문자열 바꾸기(replace)

In [2]:
# replace(바뀌게 될 문자열, 바꿀 문자열)
a = "Life is too short"
a.replace("Life", "leg")

'leg is too short'

#### 10. 문자열 나누기(split)

In [4]:
a = "Life is too short"
a.split()  #  공백을 기준으로 문자열 나눔

['Life', 'is', 'too', 'short']

In [6]:
b = "a:b:c:d"
b.split(":")   #  : 기호를 기준으로 문자열 나눔

['a', 'b', 'c', 'd']

### chapter 02 연습문제

#### p.112 Q3

In [60]:
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

p.113 Q4

In [63]:
pin[7:8]

'1'

p.113 Q5

In [65]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d