In [2]:
a =[1,3,5,4,2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [7]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

In [11]:
student1 = [90, 95, 85, 80]
print(student1, type(student1))
print(student1[0])
print(student1[-1])
student1[1]=100
student1

[90, 95, 85, 80] <class 'list'>
90
80

[90, 100, 85, 80]

In [16]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends, type(myFriends))
print(myFriends[2])
print(myFriends[3])
print(myFriends[-1])
myFriends.append('Geon')
myFriends.insert(0, 'Geon')
myFriends

['James', 'Robert', 'Lisa', 'Mary'] <class 'list'>
Lisa
Mary
Mary

['Geon', 'James', 'Robert', 'Lisa', 'Mary', 'Geon']

In [21]:
t1 = (1,2,'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [22]:
t1 = (1,2,'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

In [23]:
t1 = (1,2,'a', 'b')
print(t1[0])
print(t1[3])

1
b

In [24]:
t1 = (1,2,'a', 'b')
t1[1:]

(2, 'a', 'b')

In [25]:
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

In [26]:
t2*3

(3, 4, 3, 4, 3, 4)

In [28]:
t1 = (1,2,'a', 'b')
len(t1)

4

In [31]:
t=(1,2,3)
t+(4,)

(1, 2, 3, 4)

In [35]:
a=(1,2,3)
a= a+(4,)
print(a)

(1, 2, 3, 4)

In [40]:
a1=1,2,3
b1=(4,)
type(b1)
print(a1+b1)

(1, 2, 3, 4)