# 02-3 리스트 자료형

### 리스트의 인덱싱

In [2]:
a = [1,2,3]
a

[1, 2, 3]

In [3]:
a[0]

1

In [4]:
a[0] + a[2]

4

In [6]:
# 리스트 a의 마지막 요소
a[-1]

3

In [7]:
a = [1,2,3,['a', 'b', 'c']]

In [8]:
a[0]

1

In [9]:
a[-1]

['a', 'b', 'c']

In [10]:
a[3]

['a', 'b', 'c']

In [11]:
a[-1][0]

'a'

In [13]:
a[-1][1]

'b'

In [14]:
a[-1][2]

'c'

In [15]:
a = [1,2,['a', 'b', ['life', 'is']]]

In [16]:
a[2][2][0]

'life'

### 리스트의 슬라이싱

In [20]:
# 마지막 인덱스 포함x
a = [1,2,3,4,5]
a[0:2]

[1, 2]

In [19]:
a = "12345"
a[0:2]

'12'

In [23]:
a = [1,2,3,4,5]
b = a[:2]   # 처음부터 a[1]까지
c = a[2:]   # a[2]부터 마지막까지
print(b)
print(c)

[1, 2]
[3, 4, 5]

#### p.76  나혼자 코딩!

In [24]:
A = [1,2,3,4,5]
result = A[1:3]
result

[2, 3]

### 리스트 연산하기

#### 1. 리스트 더하기(+)

In [28]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

#### 2. 리스트 반복하기(*)

In [30]:
a = [1,2,3]
a *3   # 3번 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

#### 3. 리스트 길이 구하기

In [31]:
a = [1,2,3]
len(a)

3

#### + 리스트 연산 오류

In [33]:
a = [1,2,3]
# a[2] + "hi" 하면 형 오류(TypeError) 발생
# a[2] 는 정수형 /  hi는 문자열
str(a[2]) + "hi"   # str함수를 사용해 문자열로 형변환 시킨 후 연산하기!

'3hi'

### 리스트의 수정과 삭제

#### 1. 리스트에서 값 수정하기

In [42]:
a = [1,2,3]
a[2] = 4
a

[1, 2, 4]

In [43]:
a = [1, 'a', 'b', 'c', 4]
a[1:3] = []
a

[1, 'c', 4]

In [44]:
a[1] = ['a', 'b', 'c']
a

[1, ['a', 'b', 'c'], 4]

In [45]:
a[1:2] = ['a', 'b', 'c']
a

[1, 'a', 'b', 'c', 4]

#### 2. del 함수 사용해 리스트 요소 삭제하기

In [3]:
# del 객체    => del a[x]는 x번째 요솟값을 삭제
a = [1,2,3]
del a[1]
a

[1, 3]

In [4]:
a = [1,2,3,4,5]
del a[2:]
a

[1, 2]

### 리스트 관련 함수

#### 1. 리스트에 요소 추가(append)

In [9]:
# 맨 마지막에 x를 추가하는 함수 => append(x)
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [10]:
# 리스트에 다시 리스트 추가
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

#### 2. 리스트 정렬(sort)

In [12]:
# 숫자 + 문자열 => 숫자가 가장 먼저 정렬
# 문자열 + 문자열 => 각 문자열 첫 번째 글자를 기준으로 정렬
a = [1,4,3,2]
a.sort()
a

[1, 2, 3, 4]

In [13]:
a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

#### 3. 리스트 뒤집기(reverse)

In [ ]:
# 역순으로 뒤집어줌. 순서대로 정렬 후 역순뒤집기 (x)
a = ['a', 'c', 'b']
a.reverse()
a

#### 4. 위치 반환(index)

In [16]:
# index(x) 리스트에 x값이 있으면 x의 위치 값을 돌려준다.
a = [1,2,3]
print(a.index(3))
print(a.index(1))

2
0

In [18]:
# # 값이 없으면 Error 발생 <--> find()함수는 값이 없으면  -1 반환
a.index(0)

ValueError: 0 is not in list

#### 5. 리스트에 요소 삽입(insert)

In [20]:
# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수
a = [1,2,3]
a.insert(0, 4)
a

[4, 1, 2, 3]

#### 6. 리스트 요소 제거(remove)

In [25]:
# remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제
a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [26]:
a.remove(3)
a

[1, 2, 1, 2]

#### 7. 리스트 요소 끄집어내기(pop)

In [29]:
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제
a = [1,2,3]
print(a.pop())
print(a)

3
[1, 2]

In [30]:
# pop(x)는 리스트의 x번째 요소를 돌려주고 그 요소는 삭제
a = [1,2,3]
print(a.pop(1))
print(a)

2
[1, 3]

#### 8. 리스트에 포함된 요소 x의 개수 세기(count)

In [33]:
# count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 돌려주는 함수
a = [1,2,3,1]
print(a.count(1))
print(a.count(4))  # x값이 없으면 0 반환

2
0

#### 9. 리스트 확장(extend)

In [36]:
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다
# a.extend([4,5]) == a += [4,5]
a = [1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [35]:
b = [6,7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

### 연습문제

#### Q1.

In [45]:
student1 = [90, 95, 85, 80]
print(student1)
print(type(student1))
print(student1[0])
print(student1[1])
print(student1[-1])
student1[1] = 100
print(student1)

[90, 95, 85, 80]
<class 'list'>
90
95
80
[90, 100, 85, 80]

#### Q2.

In [47]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
print(myFriends[2])
print(myFriends[3])
print(myFriends[-1])

['James', 'Robert', 'Lisa', 'Mary']
Lisa
Mary
Mary

#### Q3.

In [48]:
list_con1 = [1,2,3,4]
list_con2 = [5,6,7,8]
list_con = list_con1 + list_con2
print(list_con)

[1, 2, 3, 4, 5, 6, 7, 8]

#### Q4.

In [49]:
list_con1 = [1,2,3,4]
list_con = list_con1*3
print(list_con)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

#### Q5.

In [51]:
list_data = [0,1,2,3,4,5,6,7,8,9]
print(list_data)
print(list_data[0:3])
print(list_data[4:8])
print(list_data[:3])
print(list_data[7:])
print(list_data[::2])  # 2 간격으로 출력
print(list_data)
del list_data[6]
print(list_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

#### Q6.

In [52]:
list_data1 = [1,2,3,4,5]
print(5 in list_data1)
print(6 in list_data1)

True
False

#### Q7.

In [53]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.append('Thomas')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Thomas']

#### Q8.

In [54]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.insert(1,'Paul')
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Paul', 'Robert', 'Lisa', 'Mary']

#### Q9.

In [55]:
myFriends = ['James', 'Robert', 'Lisa', 'Mary']
print(myFriends)
myFriends.extend(['Laura', 'Betty'])
print(myFriends)

['James', 'Robert', 'Lisa', 'Mary']
['James', 'Robert', 'Lisa', 'Mary', 'Laura', 'Betty']

### p.113 Q6.

In [65]:
# [1,3,5,4,2]리스트를  [5,4,3,2,1]로 만들어 보자.
a = [1,3,5,4,2]
a.sort()           # [1,2,3,4,5]로 정렬
a.reverse()        # [5,4,3,2,1]로 역순
print(a)

[5, 4, 3, 2, 1]

### p.114 Q7

In [68]:
a = ['Life', 'is', 'too', 'short']

result = " ".join(a)
print(result)

Life is too short