# 02-4 튜플 자료형

### 튜플 요솟값을 삭제하려 할 때

In [21]:
t1 = (1,2,'a', 'b')
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

### 튜플 요솟값을 변경하려 할 때

In [22]:
t1 = (1,2,'a', 'b')
t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

### 인덱싱하기

In [23]:
t1 = (1,2,'a', 'b')
print(t1[0])
print(t1[3])

1
b

### 슬라이싱하기

In [24]:
t1 = (1,2,'a', 'b')
t1[1:]

(2, 'a', 'b')

### 튜플 더하기

In [25]:
t2=(3,4)
t1+t2

(1, 2, 'a', 'b', 3, 4)

### 튜플 곱하기

In [26]:
t2*3

(3, 4, 3, 4, 3, 4)

### 튜플 길이 구하기

In [28]:
t1 = (1,2,'a', 'b')
len(t1)

4

### p.87 나 혼자 코딩!

In [4]:
# (1,2,3)이라는 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
t=(1,2,3)
t+(4,) # 튜플 한 개만을 가질 때에도 쉼표 필수!

(1, 2, 3, 4)

### p.114 Q8

In [6]:
# (1,2,3)이라는 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력
a=(1,2,3)
a= a+(4,)
a

(1, 2, 3, 4)

In [7]:
a1=1,2,3
b1=(4,)
type(b1)
a1+b1

(1, 2, 3, 4)

#### Q1

In [8]:
tuple1 = (1,2,3,4)
print(tuple1, type(tuple1))
tuple1[1]

(1, 2, 3, 4) <class 'tuple'>

2

#### Q2

In [9]:
tuple2 = 5,6,7,8
print(tuple2, type(tuple2))

(5, 6, 7, 8) <class 'tuple'>

#### Q3

In [10]:
tuple3 = (9,)
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

#### Q4

In [12]:
tuple5 = (1,2,3,4)
# tuple5[1]=5  Error 발생
# del tuple5[1]  Error 발생

#### Q5

In [15]:
tuple6 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple6.index('c')  # index(x) => x값의 위치 반환

2

#### Q6

In [17]:
tuple7 = ('a', 'a', 'a', 'b', 'b', 'c', 'd')
tuple7.count('a') # count(x) => x값 개수 출력

3