# 02 문자열 포맷팅

## (1) %문자열 포맷코드

#### 1. 숫자 바로 대입

In [31]:
"I eat %d apples." % 3

'I eat 3 apples.'

#### 2. 문자열 바로 대입

In [32]:
"I eat %s apples." % "five"

'I eat five apples.'

#### 3. 숫자 값을 나타내는 변수로 대입

In [33]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

#### 4. 2개 이상의 값 넣기

In [34]:
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

%s 포맷코드는 어떤 형태의 값이든 변환해 넣을 수 있다.

In [35]:
"I have %s apples" % 3

'I have 3 apples'

In [36]:
"rate is %s" % 3.234

'rate is 3.234'

포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다.

In [37]:
"Error is %d%%." % 98

'Error is 98%.'

### 포맷코드와 숫자 함께 사용하기

#### 1. 정렬과 공백

In [38]:
"%10s" % "hi"

'        hi'

In [39]:
"%-10sjane" % 'hi'

'hi        jane'

#### 2. 소수점 표현하기

In [40]:
"%0.4f" % 3.42134234

'3.4213'

In [41]:
"%10.4f" % 3.42134234

'    3.4213'

## (2) format 함수를 사용한 포매팅

#### 1. 숫자 바로 대입하기

In [42]:
"I eat {0} apples".format(3)

'I eat 3 apples'

#### 2. 문자열 바로 대입하기

In [43]:
"I eat {0} apples".format("five")

'I eat five apples'

In [44]:
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [45]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days." .format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [46]:
"I ate {number} apples. so I was sick for {day}days." .format(number = 10, day = 3)

'I ate 10 apples. so I was sick for 3days.'

In [47]:
"I ate {0} apples. so I was sick for {day}days." .format(10, day = 3)

'I ate 10 apples. so I was sick for 3days.'

In [48]:
"{0:<10}".format("hi")

'hi        '

In [49]:
"{0:>10}".format("hi")

'        hi'

In [50]:
"{0:^10}".format("hi")

'    hi    '

In [51]:
"{0:=^10}".format("hi")

'====hi===='

In [52]:
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [53]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [54]:
"{0:10.4f}".format(y)

'    3.4213'

In [55]:
"{{ and }}".format()

'{ and }'

## (3) f 문자열 포매팅

In [29]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [30]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [ ]:
d = {'name' : '홍길동', 'age' : 30}

P. 112 Q3

In [60]:
pin = "881120-1068234"
yyyymmdd = pin[0:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

p.113 Q4

In [63]:
pin[7:8]

'1'

p.113 Q5

In [65]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d