# UNIT 34 데이터 합치기

### 세로 방향으로 통합
- DataFrame에서 columns가 같은 두 데이터를 세로방향, 즉 index가 증가하는 방향으로 통합
- append()함수 사용
- DataFrame_data1.append(DataFrame_data2, ignore_index = True)
- 세로 방향으로 DataFrame_data1 다음에 DataFrame_data2가 추가되어서 DataFrame 데이터로 반환
- 매개변수 ignore_index = True를 입력하지 않으면 생성된 DataFrame 데이터에는 기존의 데이터의 index가 그대로 유지
- 매개변수 ignore_index = True를 입력하면 생성된 DataFrame 데이터에는 데이터 순서대로 새로운 index가 할당

In [1]:
import pandas as pd
import numpy as np

df1 = pd.DataFrame({'Class1': [95, 92, 98, 100],
                   'Class2' : [91, 93, 97, 99]})

df1

   Class1  Class2
0      95      91
1      92      93
2      98      97
3     100      99

In [2]:
import pandas as pd
import numpy as np

df2 = pd.DataFrame({'Class1':[87, 89],
                   'Class2':[85, 90]})

df2

   Class1  Class2
0      87      85
1      89      90

In [3]:
df1.append(df2)

   Class1  Class2
0      95      91
1      92      93
2      98      97
3     100      99
0      87      85
1      89      90

In [4]:
df1.append(df2, ignore_index=True)

   Class1  Class2
0      95      91
1      92      93
2      98      97
3     100      99
4      87      85
5      89      90

In [5]:
# Columns가 같지 않을 경우 데이터가 없는 부분은 NaN으로 채워짐

df3 = pd.DataFrame({'Class1':[96, 83]})
df3

   Class1
0      96
1      83

In [6]:
df2.append(df3, ignore_index=True)

/home/geon/anaconda3/envs/pyLab36/lib/python3.6/site-packages/pandas/core/frame.py:7138: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort,

   Class1  Class2
0      87    85.0
1      89    90.0
2      96     NaN
3      83     NaN