# UNIT 05 올바른 자료구조 선택하기

### 리스트

In [3]:
myList1 = [10, 'aaa', 3.14, True]
print(myList1, type(myList1))
print(len(myList1))

[10, 'aaa', 3.14, True] <class 'list'>
4

### 튜플

In [16]:
myT= (10,20,30,40,50)
print(myT, type(myT))
print(myT[0])
print(myT[-1])
print(myT[0:4])
 # myT[0]=100   수정 불가능하기 때문에 Error 발생!

(10, 20, 30, 40, 50) <class 'tuple'>
10
50
(10, 20, 30, 40)

In [9]:
# 변수 각각 지정하는 것과 한꺼번에 지정하는 것이 똑같음 
a=10
b=20
c=30
a,b,c = 10,3.14,30

print(a, type(a))
print(b, type(b))

d = 10,20,30 # packing 발생
print(d,type(d)) # 튜플로 만들어짐

e,f,g = (10,20,'aa') # unpacking 발생
print(e, type(e))    # 튜플 형성 x
print(g, type(g))

10 <class 'int'>
3.14 <class 'float'>
(10, 20, 30) <class 'tuple'>
10 <class 'int'>
aa <class 'str'>

In [12]:
h = (100)  # 일반 원소  
print(h, type(h))

i = (100,) # 튜플(100과 쉼표가 있기 때문에)
print(i, type(i))

myT = tuple((10,20,30,40,50))
print(len(myT))

myT1 = list(myT)  # 리스트로 형변환
print(myT1, type(myT1))

100 <class 'int'>
(100,) <class 'tuple'>
5
[10, 20, 30, 40, 50] <class 'list'>

### 셋

In [22]:
myS = {10,20,30,30,100}
print(myS, type(myS))
 # print(myS[0])   셋에는 인덱스 개념 없어서 Error 발생

myS.add(200)  # add 함수 이용 값 추가
print(myS, type(myS))

myS.update([5,6,7])  # update 함수 이용 여러 개 값 추가
print(myS, type(myS))

myS.remove(200)  # remove 함수 이용 값 제거
print(myS, type(myS))

mySO = list(myS)  # list로 형변환
mySO[0] = 1000
print(mySO, type(mySO))

{100, 10, 20, 30} <class 'set'>
{100, 200, 10, 20, 30} <class 'set'>
{100, 5, 6, 7, 200, 10, 20, 30} <class 'set'>
{100, 5, 6, 7, 10, 20, 30} <class 'set'>
[1000, 5, 6, 7, 10, 20, 30] <class 'list'>

In [25]:
myS1 = {10, 20, 30}
myS2 = {20, 30, 40, 50}
print(myS1 & myS2)  # 교집합
print(myS1 | myS2)  # 합집합
print(myS1 - myS2)  # 차집합
print(myS2 - myS1)
print(myS1 ^ myS2)  # 여집합

{20, 30}
{50, 20, 40, 10, 30}
{10}
{40, 50}
{40, 10, 50}

### 딕셔너리

In [34]:
myD = {10: 'aaa', 20: 'bbb', 30: 'ccc'}
print(myD, type(myD))

# print(myD[0])   순서가 없기 때문에 인덱스  x Error 발생

myD[10] = 'AAA'
print(myD[10])
print(myD[20])

myD1 = {10:'aaa', 20:'bbb', 30:'ccc', 20:'BBB'}
print(myD1)  # 중복이 되서 앞에껀 지워짐
myD1[40] = 'ddd'
print(myD1)

myD2 = list(myD1)  # list로 형변환
print(myD2, type(myD2))

{10: 'aaa', 20: 'bbb', 30: 'ccc'} <class 'dict'>
AAA
bbb
{10: 'aaa', 20: 'BBB', 30: 'ccc'}
{10: 'aaa', 20: 'BBB', 30: 'ccc', 40: 'ddd'}
[10, 20, 30, 40] <class 'list'>

In [35]:
# 리스트에서 딕셔너리 만들기
seq = ["alpha", "bravo", "charlie", "delta"]
dict(enumerate(seq))

{0: 'alpha', 1: 'bravo', 2: 'charlie', 3: 'delta'}

In [36]:
# 클래스 생성자를 이용하여 만들기
kseq = "abcd"  # 문자열 또한 순서열이다.
vseq = ["alpha", "bravo", "charlie", "delta"]
dict(zip(kseq, vseq))

{'a': 'alpha', 'b': 'bravo', 'c': 'charlie', 'd': 'delta'}

In [37]:
a_list = [("key1", "value1"), ("key2", "value2")]
dict(a_list)

{'key1': 'value1', 'key2': 'value2'}