# UNIT 25 유니버셜 함수 파헤치기

### 2016년 1월 10일을 기준으로 전후 주식 8개의 가격

In [11]:
import numpy as np

stocks = np.array([140.49, 0.97, 40.68, 41.53, 55.7,
                   57.21, 98.2, 99.19, 109.96, 111.47,
                   35.71, 36.72, 87.85, 89.11, 30.22,
                   30.91])

stocks

array([140.49,   0.97,  40.68,  41.53,  55.7 ,  57.21,  98.2 ,  99.19,
       109.96, 111.47,  35.71,  36.72,  87.85,  89.11,  30.22,  30.91])

In [17]:
stocks = stocks.reshape(8,2).T
stocks

array([[140.49,  40.68,  55.7 ,  98.2 , 109.96,  35.71,  87.85,  30.22],
       [  0.97,  41.53,  57.21,  99.19, 111.47,  36.72,  89.11,  30.91]])

#### np.greater(x1, x2) : element-wise로 x1 > x2 비교 연산 결과 T or F 반환

In [18]:
fall = np.greater(stocks[0], stocks[1])
fall

array([ True, False, False, False, False, False, False, False])

In [10]:
sap = np.array(["MMM", "ABT", "ABBV", "ACN", 
                "ACE", "ATVI", "ADBE", "ADT"])
sap

array(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ATVI', 'ADBE', 'ADT'],
      dtype='<U4')

In [20]:
sap[fall]

array(['MMM'], dtype='<U4')