# UNIT 31 Pandas 데이터 구조에 익숙해지기

### 시리즈 예제 코드 #1

In [16]:
import pandas as pd

# 마지막 값이 잘못되었다. 조금 후에 수정해보자.

inflation = pd.Series((2.2, 3.4, 2.8, 1.6, 2.3, 2.7, 3.4, 3.2, 2.8, 3.8,
                      -0.4, 1.6, 3.2, 2.1, 1.5, 1.5))

inflation

# 인덱스가 자동으로 생성
# 첫번쨰 아이템의 레이블은 0
# 두번쨰 아이템의 레이블은 1
# 이런식으로 하나씩 증가하는 정수형 인덱스가 기본값

0     2.2
1     3.4
2     2.8
3     1.6
4     2.3
5     2.7
6     3.4
7     3.2
8     2.8
9     3.8
10   -0.4
11    1.6
12    3.2
13    2.1
14    1.5
15    1.5
dtype: float64

In [17]:
len(inflation)

16

In [19]:
# value 속성값은 시리즈 안의 모든 값 리스트

inflation.values

array([ 2.2,  3.4,  2.8,  1.6,  2.3,  2.7,  3.4,  3.2,  2.8,  3.8, -0.4,
        1.6,  3.2,  2.1,  1.5,  1.5])

In [20]:
# index 속성값은 시리즈의 인덱스를 의미

inflation.index

RangeIndex(start=0, stop=16, step=1)

In [21]:
# index.values 속성값은 모든 index값의 배열

inflation.index.values

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [24]:
# 배열이기 때문에 마지막의 잘못된 값 수정 가능

inflation.values[-1] = 1.6
inflation

0     2.2
1     3.4
2     2.8
3     1.6
4     2.3
5     2.7
6     3.4
7     3.2
8     2.8
9     3.8
10   -0.4
11    1.6
12    3.2
13    2.1
14    1.5
15    1.6
dtype: float64

### 시리즈 예제 코드 #2
#### - Series의 사용자 인덱스 생성방법(1)
- 딕셔너리 자료형 이용

In [7]:
import pandas as pd
import numpy as np

inflation = pd.Series({1999 : 2.2, 2000 : 3.4, 2001 : 2.8, 2002 : 1.6, 2003 : 2.3,
                       2004 : 2.7, 2005 : 3.4, 2006 : 3.2, 2007 : 2.8, 2008 : 3.8,
                       2009 : -0.4, 2010 : 1.6, 2011 : 3.2, 2012 : 2.1, 2013 : 1.5,
                       2014 : 1.6, 2015 : np.nan})
inflation

1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
dtype: float64

#### - Series의 사용자 인덱스 생성방법(2)
- 새로운 인덱스 시퀀스를 생성하고 이를 기존의 시리즈에 붙임

In [6]:
import numpy as np

inflation = pd.Series((2.2, 3.4, 2.8, 1.6, 2.3, 2.7, 3.4, 3.2,
                      2.8, 3.8, -0.4, 1.6, 3.2, 2.1, 1.6, 1.5))
inflation.index = pd.Index(range(1999, 2015))
inflation[2015] = np.nan
inflation

1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.6
2014    1.5
2015    NaN
dtype: float64

#### 시리즈와 인덱스에 이름 설정
- name 속성을 이용하여 이름 설정

In [9]:
inflation.index.name = "Year"
inflation.name = "%"
inflation

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
Name: %, dtype: float64

#### 데이터 파악하기
- head()나 tail() 함수 이용

In [12]:
# head() 기본값 5개

inflation.head()

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
Name: %, dtype: float64

In [11]:
inflation.head(10)

Year
1999    2.2
2000    3.4
2001    2.8
2002    1.6
2003    2.3
2004    2.7
2005    3.4
2006    3.2
2007    2.8
2008    3.8
Name: %, dtype: float64

In [13]:
inflation.tail()

Year
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
Name: %, dtype: float64

In [14]:
inflation.tail(10)

Year
2006    3.2
2007    2.8
2008    3.8
2009   -0.4
2010    1.6
2011    3.2
2012    2.1
2013    1.5
2014    1.6
2015    NaN
Name: %, dtype: float64