In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

#change path
root_dir = "/content/drive/My Drive/"
base_dir = root_dir + 'python_lesson/python Coding improvement'
os.chdir(base_dir)

#mount google driver
#from google.colab import drive
#drive.mount('/content/gdrive', force_remount=True)
#root_dir = "/content/gdrive/My Drive/"

# 파이썬 코딩 시험

### Q1. 문자열 바꾸기 ★☆☆

다음과 같은 문자열이 있다. `a:b:c:d:` <br>
문자열의 split와 join 함수를 사용하여 위 문자열을 다음과 같이 고치시오. `a#b#c#d`

In [6]:
string = 'a:b:c:d'

'#'.join(string.split(':'))

'a#b#c#d'

### Q2. 딕셔너리 값 추출하기 ★☆☆

다음은 딕셔너리의 a에서 'C'라는 key에 해당하는 value를 출력하는 프로그램이다.

`>>> a = {'A':90, 'B':80}`
```
>>> a['C']
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
KeyError: 'C'
```
a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생한다. 'C'에 해당하는 key 값이 없을 경우 오류 대신 70을 얻을 수 있도록 수정하시오.

In [13]:
a = {'A':90, 'B':80}
a.get('C', 70)

70

### Q3. 리스트의 더하기와 extend 함수 ★★☆

다음과 같은 리스트 a가 있다. `a = [1,2,3]` <br>
리스트 a에 [4,5]를 + 기호를 사용하여 더한 결과는 다음과 같다. <br>
```
>>> a = [1,2,3]
>>> a = a + [4,5]
>> a
[1,2,3,4,5]
```

리스트 a에 [4,5]를 extend를 사용하여 더한 결과는 다음과 같다. <br>
```
>>> a = [1,2,3]
>>> a.extend([4,5])
>>> a
[1,2,3,4,5]
```

+기호를 사용하여 더한 것과 extend한 것의 차이점이 있을까? 있다면 그 차이점을 설명하시오.

> + 기호를 사용하면 두 리스트가 더해진 새로운 리스트가 반환된다. 하지만 extend를 사용하면 기존 리스트 a에 값이 추가되며 그대로 유지된다.

In [18]:
a = [1,2,3]
print(id(a))
a = a+ [4,5]
print(id(a))

140711474061136
140711474076080

In [17]:
a = [1,2,3]
print(id(a))
a.extend([4,5])
print(id(a))

140711473879792
140711473879792

### Q4. 리스트 총합 구하기 ★★☆

다음은 A학급 학생의 점수를 나타내는 리스트이다. 다음 리스트에서 50점 이상 점수의 총합을 구하시오.

In [42]:
A = [20, 55, 67, 82, 45, 33, 90, 87, 100, 25]
sum(list(filter(lambda x: x >= 50, A)))

481

### Q5. 피보나치 함수 ★★★

첫 번째 항의 값이 0이고 두 번째 항의 값이 1일 때, 이후에 이어지는 항은 이전의 두 항을 더한 값으로 이루어지는 수열을 피보나치 수열이라고 한다.

`0,1,1,2,3,5,8,13...` <br>
입력을 정수 n 으로 받았을 때, n 이하까지의 피보나치 수열을 출력하는 함수를 작성해 보자.

In [52]:
def fibo(n):
  fibo_list = [0, 1]
  i = 0
  if n == 0 or n <= 0:
    return print("0보다 큰 정수 n을 입력해주세요.")
  else:
    while True:
      x = fibo_list[i]
      y = fibo_list[i+1]
      z = x + y
      i+=1
      if z > n:
        return print(fibo_list)
      else:
        fibo_list.append(z)

n = int(input())
fibo(n)

15
[0, 1, 1, 2, 3, 5, 8, 13]

### Q6. 숫자의 총합 구하기 ★★☆

사용자로부터 다음과 같은 숫자를 입력받아 입력받은 숫자의 총합을 구하는 프로그램을 작성하시오. (단 숫자는 콤마로 구분하여 입력한다.)

`65, 45, 2, 3, 45, 8`

In [55]:
number = input()
number = number.split(',')
total = sum([int(x) for x in number])
total

65,45,2,3,45,8

168

### Q7. 한 줄 구구단 ★★☆

사용지로부터 2~9의 숫자 중 하나를 입력받아 해당 숫자의 구구단을 한 줄로 출력하는 프로그램을 작성하시오.

```
구구단을 출력할 숫자를 입력하세요(2~9): 2
2 4 6 8 10 12 14 16 18
```

In [64]:
num = int(input("구구단을 출력할 숫자를 입력하세요(2~9):"))
[num*i for i in range(1,10)]

구구단을 출력할 숫자를 입력하세요(2~9):4

[4, 8, 12, 16, 20, 24, 28, 32, 36]

### Q8. 역순 저장 ★☆☆

다음과 같은 내용의 파일 abc.txt가 있다.

```
AAA
BBB
CCC
DDD
EEE
```

이 파일의 내용을 역순으로 바꾸어 저장하시오.

In [82]:
data = '''
AAA
BBB
CCC
DDD
EEE
'''

with open('./text/abc.txt', 'w') as f:
  f.write(data)

In [83]:
with open('./text/abc.txt', 'r') as f:
  lines = f.readlines()

lines.reverse()

with open('./text/abc.txt', 'w') as f:
  for line in lines:
    line = line.strip()
    f.write(line)
    f.write('\n')