## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [8]:
a = 1,3,5,7,9
a = list(a)
print(a)
print(type(a))

[1, 3, 5, 7, 9]
<class 'list'>

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [11]:
a = 'hello world so wonderful weather'
a.split()

['hello', 'world', 'so', 'wonderful', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [20]:
a = [1,3,5,7,9]
print(a[-1])
print(a[0])

9
1

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [18]:
print(a)
a[-1] = 10
a

[1, 3, 5, 7, 9]

[1, 3, 5, 7, 10]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [19]:
a = [1,3,5,7,9]
print(a[:])
print(a[-1])
print(a[1:])
print(a[:4])
print(a[::2])

[1, 3, 5, 7, 9]
9
[3, 5, 7, 9]
[1, 3, 5, 7]
[1, 5, 9]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [22]:
a = [1,3,5,7,9]
a.append(10)
a

[1, 3, 5, 7, 9, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [26]:
a = [1,2,3,4,5]
b = [6,7,8]

a.extend(b) # == 같은 코딩 a+=b
a

[1, 2, 3, 4, 5, 6, 7, 8]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [29]:
a = [10, 20, 40, 50]
a.insert(2, 30)
a

[10, 20, 30, 40, 50]

+ **remove()**
 * 값으로 항목 삭제

In [30]:
a = [10, 20, 30, 4, 50]
a.remove(4)
a

[10, 20, 30, 50]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [34]:
a = [10,20,30,400]
print(a.pop())
print(a.pop(2))

400
30

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [35]:
a = [1,2,3,4,5,6,7,8,9]
a.index(3)

2

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [36]:
a = [10, 20, 30, 50]
print(20 in a)
print(100 in a)

True
False

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [44]:
a = [5,4,6,9,2,3,1]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[1, 2, 3, 4, 5, 6, 9]
[9, 6, 5, 4, 3, 2, 1]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [45]:
a = 1,2,3,4,5
print(type(a))
a

<class 'tuple'>

(1, 2, 3, 4, 5)

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

* **연습문제** a와 b의 값을 교환하시오

In [48]:
a,b = 4,5
temp = None

# logic 
temp = a
a = b
b = temp

# a, b = b, a 위와 같음
print(a,b)

5 4