# 03-3 for문

### 예제를 통한 for문 이해하기

In [1]:
# 전형적인 for문
test_list = ['one', 'two', 'three']
for i in test_list:
    print(i)

one
two
three

In [2]:
# 다양한 for문 사용
a = [(1,2), (3,4), (5,6)]  # 튜플 사용
for (first, last) in a:
    print(first + last)

3
7
11

In [8]:
# for문의 응용
scores = [90, 25, 67, 45, 80]
number = 0
for s_score in scores:
    number = number+1
    if s_score >= 60:
        print("%d번 학생은 합격입니다." % number)
    else:
        print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [1]:
scores = [90, 25, 67, 45, 80]
number = 0
for s_score in scores:
    number = number+1
    print("%d번 학생은 합격입니다." % number) if s_score >= 60 else print("%d번 학생은 불합격입니다." % number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

### for문과 continue문

In [10]:
# marks2.py
marks = [90, 25, 67, 45, 80]
number = 0
for mark in marks:
    number += 1
    if mark < 60: continue
    print("%d번 학생 축하합니다. 합격입니다. " % number)

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

### for문과 range함수

In [11]:
sum = 0
for i in range(1, 11):  # 1~10까지 누적시킴
    sum = sum + i

print(sum)

55

In [12]:
# marks3.py
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60: continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [21]:
# for & range 사용해 구구단 만들기
for i in range(2, 10):
    for j in range(1, 10):
        print(i*j, end=" ") # 해당 결과값을 그 줄에 계속해서 출력
    print('') # 결과값을 다음 줄부터 출력

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

### 리스트 내포(List comprehension)

In [22]:
a = [1,2,3,4]
result = []
for num in a:
    result.append(num*3)

print(result)

[3, 6, 9, 12]

In [23]:
# 위와 같은 코드
a = [1,2,3,4]
result = [num * 3 for num in a]
print(result)

[3, 6, 9, 12]

In [24]:
# 리스트 내포 안에 if 조건문 사용
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [26]:
# 구구단
result = [x*y for x in range(2,10)
         for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

### p. 142 나 혼자 코딩!

In [15]:
sum = 0
for i in range(1, 101):
    sum += i
print(sum)

5050

### p.147 Q4 연습문제

In [6]:
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

### p.147 Q5 연습문제

In [1]:
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for score in A:
    total += score
average = total/len(A)  # len(A) 기억하기!!
print(average)

79.0

### p.147 Q6 연습문제

In [32]:
numbers = [1,2,3,4,5]
result = []
for n in numbers:
    if n%2 == 1:
        result.append(n*2)
result

[2, 6, 10]

In [33]:
# 리스트 내포 표현
numbers = [1,2,3,4,5]
result = [n*2 for n in numbers if n%2 == 1]
print(result)

[2, 6, 10]